
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex ;
    background-color: brown ;
    width: 30vh ;
    height: 100vh ;
  }
  .ham {
    width: 100px ;
    height: 100px ;
    margin-top: 10%;
    cursor:pointer;
  }
  .line {
    display: flex ; 
    margin-left: 50% ;
    width: 40px ;
    height: 5px  ;
    background-color : white ;  
    flex-direction: column ;
    margin-top: 10px ;
    margin-left: 30px ;
  }
  .ham:hover :first-child {
    transform: rotate( 45deg );
    transform-origin: 0% 0% ;
    margin-left: 35px ; 
    transition: 400ms ;
  }
  .ham:hover :nth-child(2) {
    display: none ;
    transition: 400ms ;
  }
  .ham:hover :last-child {
    transform: rotate( -45deg );
    transform-origin: 0% 0% ;
    margin-top: 23px ;
    transition: 400ms ; 
  }
  .text{
    display: flex ;
    flex-direction: column ;
    margin-top: 25% ;
    gap: 20px ;
    display: none ;
  }
  .names {
    color: white ;
    font-size: 25px ;
  }
  .name {
    color: white ;
    font-size: 25px ;
  }
  .name2 {
    color: white ;
    font-size: 25px ;
  }
  
  
  .ham:hover + .text {
    display: block ;
  }
  .names {
    transition: 400ms ;
    line-height:3;
    font-size: 30px;
}
.name {
  transition: 400ms ;
  line-height:3;
  font-size: 30px;
}
.name2 {
  transition: 400ms ;
  line-height:3;
  font-size: 30px;
}
  .ham:hover + .names {
    display: block ;
    margin-left: 60% ;
  }
  .ham:hover + .name {
    display: block ;
    margin-left: 60% ;
  }
  .ham:hover + .name2 {
    display: block ;
    margin-left: 60% ;
  }
.lines {
  display:none;
}
.names {
background-color: brown;
position: relative;
animation-name: example;
animation-duration: 5s;
}
@keyframes example{
  0%   {background-color:brown; left:-70px; }
  25%  {background-color:brown; left:-50px; }
  50%  {background-color:brown; left:-30px; }
  75%  {background-color:brown; left:-10px; }
  100% {background-color:brown; left:0px; }
}
.lines:hover + .names {
  display:block;
}
.lines:hover + .name {
  display:block;
}
.lines:hover + .name2 {
  display:block;
}
.name2 {
  background-color: brown;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  }
  @keyframes example{
    0%   {background-color:brown; left:-50px; }
    25%  {background-color:brown; left:-30px; }
    50%  {background-color:brown; left:-20px; }
    75%  {background-color:brown; left:-10px; }
    100% {background-color:brown; left:0px; }
  }